/* Error: semicolons aren't allowed in the indented syntax.
 *   ,
 * 1 | $pure-white: hsla(0, 0%, 100%, 1); // #fff
 *   |                                  ^
 *   '
 *   app.sass 1:34  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: semicolons aren't allowed in the indented syntax.\a   \2577 \a 1 \2502  $pure-white: hsla(0, 0%, 100%, 1); // #fff\a   \2502                                   ^\a   \2575 \a   app.sass 1:34  root stylesheet";
}
.padding {
  padding-bottom: 2rem;
}
footer{
  background-color: black !important;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
}
